@model IEnumerable<Blogs.EF.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Header-->
<header class="masthead" style="background-image: url('/Assets/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Man must explore, and this is exploration at its greatest</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on August 24, 2021
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- Post preview-->
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            @foreach (var item in Model)
            {
        <div class="post-preview">
            @Html.ActionLink(item.Short_Description, "Details","Post" , new {@year = item.Posted_On.Year, month = item.Posted_On.Month.ToString("00"), title = item.UrlSlug}, null)
            <a href="/Home/Details/@item.Id">
                <h2 class="post-title">@item.Short_Description</h2>
                <p class="post-meta">
                    Posted @item.Posted_On with rate @item.RateCount by @item.ViewCount view(s)
                </p>
                <h3 class="post-subtitle">@item.PostContent</h3>
            </a>

        </div>
            }
        </div>
        <div class="col-lg-4 mx-auto">
            @{
                Html.RenderAction("AboutCard", "Home");
            }
            <div class="h3">Top 5 posts have highest ViewCount</div>
            @{
                Html.RenderAction("MostViewedPosts", "Posts");
            }
            <div class="h3">Top 5 latest posts</div>
            @{
                Html.RenderAction("LatestPost", "Posts");
            }
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>

        </div>
        <div>Popular tag</div>
        <p>
            @{
                Html.RenderAction("PopularTags", "Tags");
            }
        </p>

    </div>

</div>