
@model PagedList.IPagedList<Blogs.EF.Post>
@using PagedList.Mvc;
@using System.Globalization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "HomeAdmin", FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search for..." })
    <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Short_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Posted_On)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ViewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RateCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TotalRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PostContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Category.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <p style="width:100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                    @Html.DisplayFor(modelItem => item.Short_Description)

                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @item.Posted_On.ToString("dd/MM/yyyy", new CultureInfo("vi-VN"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRate)
            </td>
            <td>
                <p style="width:100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                    @Html.DisplayFor(modelItem => item.PostContent)
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary"}) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
<p>Total found: @ViewBag.FindCount</p>
<style>
    /*    .pagination a {
        padding: 4px 8px;
        border: 1px solid aqua;
        margin: 4px;
    }*/
</style>